

.header {
    display: inline;
    justify-content: space-evenly;
    align-items: center;
}

.viewOneContainer {
    display: inline;
}

.about {
    text-align: left;
}

button {
    background-color: rgb(129, 136, 191);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

form{
    margin: auto;
    width: 250px;
    padding: 10px;
    text-align: left;
}